
.DS_Store
.AppleDouble
.LSOverride

*.o
*.a
*.so
*.out
build/

__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
.pytest_cache/

.vscode/settings.json
.vscode/launch.json
.idea/
.DS_Store
